:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  margin-bottom: 35px;
  width: 100%;

  &__input {
    width: 100%;
  }
}

.answer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  &__input-wrap {
    flex: 1;
  }

  &__input {
    width: 100%;
  }

  &__delete-button {
    margin-left: 15px;
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
