<form [formGroup]="form" class="form">
  <span class="p-float-label question">
    <input
      id="float-input"
      formControlName="question"
      class="question__input"
      type="text"
      pInputText
      placeholder="What is the value of P?"
      [maxlength]="maxCharactersAmount"
      data-cy="question-input"
    />
    <label for="float-input">Poll question</label>
    <small *ngIf="form.get('question')?.errors?.maxlength" class="p-error block"
      >Maximum amount of characters is {{ maxCharactersAmount }}</small
    >
    <small
      *ngIf="form.get('question')?.errors?.noWhitespace"
      class="p-error block"
      data-cy="question-no-whitespace-error"
      >Empty value is not allowed</small
    >
  </span>

  <div
    *ngFor="let answer of answers.controls; let i = index"
    class="answer"
    data-cy="answer"
  >
    <span class="p-float-label answer__input-wrap">
      <input
        [formControl]="answer"
        type="text"
        class="answer__input"
        pInputText
        [maxlength]="maxCharactersAmount"
        data-cy="answer-input"
      />
      <ng-container
        *ngIf="answer?.invalid && (answer?.dirty || answer?.touched)"
      >
        <small *ngIf="answer?.errors?.maxlength" class="p-error block"
          >Maximum amount of characters is {{ maxCharactersAmount }}</small
        >
        <small
          *ngIf="answer?.errors?.required"
          class="p-error block"
          data-cy="new-field-is-required-error"
          >Field is required</small
        >
        <small
          *ngIf="answer?.errors?.noWhitespace"
          class="p-error block"
          data-cy="answer-no-whitespace-error"
          >Empty value is not allowed</small
        >
      </ng-container>
    </span>

    <button
      (click)="removeAnswer(i, answer)"
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-danger p-button-outlined answer__delete-button"
      data-cy="remove-answer-button"
    ></button>
  </div>

  <div *ngIf="answers.value.length < maxAnswersAmount" class="answer">
    <span class="p-float-label answer__input-wrap">
      <input
        formControlName="newAnswer"
        (keyup.enter)="addAnswer(form.get('newAnswer')?.value)"
        type="text"
        class="answer__input"
        pInputText
        [maxlength]="maxCharactersAmount"
        data-cy="new-answer-input"
      />

      <ng-container
        *ngIf="
          form.get('newAnswer')?.invalid &&
          (form.get('newAnswer')?.dirty || form.get('newAnswer')?.touched)
        "
      >
        <small
          *ngIf="form.get('newAnswer')?.errors?.maxlength"
          class="p-error block"
          >Maximum amount of characters is {{ maxCharactersAmount }}</small
        >
        <small
          *ngIf="form.get('newAnswer')?.errors?.noWhitespace"
          class="p-error block"
          data-cy="new-answer-no-whitespace-error"
          >Empty value is not allowed</small
        >
      </ng-container>
    </span>

    <button
      (click)="addAnswer(form.get('newAnswer')?.value)"
      [disabled]="
        !this.form.get('newAnswer')?.valid || !this.form.get('newAnswer')?.value
      "
      pButton
      pRipple
      type="button"
      label="Add"
      class="p-button-outlined answer__delete-button"
      data-cy="add-answer-button"
    ></button>
  </div>
</form>

<div class="settings">
  <span>
    {{ answers.value.length }} / {{ maxAnswersAmount }} possible answers</span
  >
  <button
    (click)="reset()"
    pButton
    pRipple
    type="button"
    label="Reset"
    class="p-button-outlined p-button-warning"
    data-cy="reset-button"
  ></button>
</div>
