<h1 class="title">Sir Vote-a-lot</h1>

<section class="poll">
  <div class="poll__section">
    <app-poll-creator
      class="poll__component"
      (questionChange)="onQuestionChange($event)"
      (answerChange)="onAnswerChange($event)"
      (answerAdd)="onAnswerAdd($event)"
      (answerDelete)="onAnswerDelete($event)"
      (answersReset)="onAnswersReset()"
    ></app-poll-creator>
  </div>
  <div class="poll__section">
    <app-voter
      class="poll__component"
      [question]="question"
      [answers]="answers$ | async"
      (addVote)="onAddVote($event)"
    ></app-voter>
  </div>
  <div class="poll__section">
    <app-poll-chart
      class="poll__component"
      [question]="question"
      [answers]="answers$ | async"
    ></app-poll-chart>
  </div>
</section>
