<div>
  <span *ngIf="question" class="title" data-cy="voter-question">{{
    question
  }}</span>

  <p-message
    *ngIf="answersKeys.length < minimumItems"
    severity="warn"
    text="To start voting add at least 2 items"
    data-cy="warm-message"
  ></p-message>
  <p-message
    *ngIf="answersKeys.length >= minimumItems"
    severity="success"
    text="Please make your choice"
    data-cy="make-choice-message"
  ></p-message>

  <div
    *ngFor="let answer of answersKeys; let i = index"
    class="radio-button p-field-checkbox"
  >
    <p-radioButton
      [inputId]="i"
      [value]="i"
      [(ngModel)]="selectedIndex"
      [disabled]="answersKeys.length < minimumItems"
      data-cy="vote-radio-button"
    ></p-radioButton>
    <label
      class="radio-button__label"
      [for]="i"
      data-cy="vote-radio-button-label"
      >{{ answer }}</label
    >
  </div>
</div>

<div class="settings">
  <button
    (click)="vote()"
    [disabled]="
      answersKeys.length < minimumItems ||
      selectedIndex === undefined ||
      selectedIndex === null
    "
    pButton
    pRipple
    type="button"
    label="Vote"
    class="p-button-outlined p-button-primary"
    data-cy="vote-button"
  ></button>
</div>
